<div class="outer-container">
  <div class="logo"></div>
  <div class="contact-lines">
    <div class="address">
      20, floor, Queenslad Victoria Building. 60 california street california
      USA
    </div>
    <div class="email">hello&#64;tastybites.com</div>
    <div class="number">+88 000 0000 1111</div>
  </div>
  <div class="social-media">
    <a class="social-icon" id="facebook"><mat-icon>facebook</mat-icon></a>
    <a class="social-icon" id="instagram">
      <mat-icon>photo_camera</mat-icon>
    </a>
    <a class="social-icon" id="public"><mat-icon>public</mat-icon></a>
    <a href="#" class="social-icon snapchat" title="Snapchat"
      ><i class="material-icons">snapchat</i></a
    >
    <a href="#" class="social-icon telegram" title="Telegram"
      ><i class="material-icons">telegram</i></a
    >
    <a href="#" class="social-icon discord" title="Discord"
      ><i class="material-icons">discord</i></a
    >
  </div>
  <div class="final-line">
    <div class="policies">
      <div class="policy">Terms of Use</div>
      <div class="policy">Privacy Policy</div>
      <div class="policy">Site Map</div>
      <div class="policy">Contact</div>
    </div>
    <div class="rights">
      © {{ getCurrentYear() }} <span class="app-name">Tasty Bites</span> All
      Right Reserved.
    </div>
  </div>
</div>
