<div class="outer-container">
  <div class="logo"></div>
  <div class="contact-lines">
    <div class="address">
      Shop No. 12, Lotus Arcade, MG Road, Bandra West, Mumbai - 400050,
      Maharashtra, India
    </div>
    <a [attr.href]="'mailto:' + emailAddress" class="email">{{
      emailAddress
    }}</a>
    <a [attr.href]="'tel:' + mobileNumber" class="number">{{ mobileNumber }}</a>
  </div>
  <div class="social-media">
    <a href="https://www.facebook.com/" class="social-icon" id="facebook"
      ><mat-icon>facebook</mat-icon></a
    >
    <a href="https://www.instagram.com/" class="social-icon" id="instagram">
      <mat-icon>photo_camera</mat-icon>
    </a>
    <a href="https://www.zomato.com/" class="social-icon" id="public"
      ><mat-icon>public</mat-icon></a
    >
    <a
      href="https://www.snapchat.com/"
      class="social-icon snapchat"
      title="Snapchat"
      ><i class="material-icons">snapchat</i></a
    >
    <a
      href="https://telegram.org/"
      class="social-icon telegram"
      title="Telegram"
      ><i class="material-icons">telegram</i></a
    >
    <a href="https://discord.com/" class="social-icon discord" title="Discord"
      ><i class="material-icons">discord</i></a
    >
  </div>
  <div class="final-line">
    <div class="policies">
      <div class="policy">Terms of Use</div>
      <div class="policy">Privacy Policy</div>
      <div class="policy">Site Map</div>
      <div class="policy">Contact</div>
    </div>
    <div class="rights">
      © {{ getCurrentYear() }} <span class="app-name">Tasty Bites</span> All
      Right Reserved.
    </div>
  </div>
</div>
