.header {
  font-size: 36px;
  font-weight: 600;
  color: #333;
  margin-bottom: 45px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 125%;
  max-width: 300px;
}

.text-name {
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
}

.input-text {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
}

.login {
  margin-top: 50px;
  padding: 10px 30px;
  border: none;
  background-color: #de6f39;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login:hover:not(:disabled) {
  background-color: #c75a24;
}

.text {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.login-toggle {
  margin-left: 5px;
  color: #de6f39;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.outer-container {
  width: 89%;
  height: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.error-message {
  color: red;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  width: 280px;
  line-height: 1.2;
  top: 68px;
}

.email,
.password {
  position: relative;
}

.disableButton {
  background-color: #555;
  cursor: auto;
}
