<div class="outer-container">
  <div class="header">Log In</div>
  <div class="form">
    <div class="email">
      <div class="text-name">Email</div>
      <input type="text" class="input-text" placeholder="Email" />
    </div>
    <div class="password">
      <div class="text-name">Password</div>
      <input type="text" class="input-text" placeholder="Password" />
    </div>
  </div>
  <button class="login">Login</button>
  <div class="text">
    New User?
    <a (click)="toggleLogin()" class="login-toggle">Register Now!</a>
  </div>
</div>
