.time-section {
  padding-top: 8px;
  padding-left: 20px;
  height: 100%;
  border-left: 2px solid #ccc;
  box-sizing: border-box;
}

.time-head {
  color: #ca3d26;
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 20px;
  text-transform: capitalize;
}

.time-slots {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dayTime-head {
  font-size: 20px;
  font-weight: 600;
  color: #444;
  margin-bottom: 5px;
}

.morning,
.afternoon,
.evening {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time {
  width: 120px;
  padding: 8px 12px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.time:hover {
  background-color: #f2f2f2;
  color: #ca3d26;
  border-color: #ca3d26;
  transform: scale(1.05);
}

.select-slot {
  background-color: rgb(121, 113, 113);
}
