<div class="date-section">
  <div class="header">
    <mat-icon>date_range</mat-icon>
    <div class="month-year">{{ getMonth() }} {{ getYear() }}</div>
  </div>
  <div class="date-scroller">
    <button
      (click)="goLeft()"
      class="go-left"
      [ngClass]="this.disableBack ? 'disable' : ''"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    @for (date of visibleDates(); track $index) {
    <button
      class="next-date"
      [ngClass]="this.selectedDate == date.Date ? 'highlight-date' : ''"
      (click)="setSelectedDate(date.Date)"
    >
      <div class="day">{{ date.dayType }}</div>
      <div class="date">{{ date.Date }}</div>
    </button>
    }
    <button
      (click)="goRight()"
      class="go-right"
      [ngClass]="this.disableFront ? 'disable' : ''"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
