<div class="outer-container">
  <div class="head">
    <div class="header">Today's Menu</div>
    <div class="underline"></div>
  </div>
  <div class="food-type">
    <button class="item">All</button>
    <button class="item">Breakfast</button>
    <button class="item">Lunch</button>
    <button class="item">Dinner</button>
    <button class="item">Coffee</button>
    <button class="item">Snacks</button>
  </div>
  <div class="food-container">
    <app-food-list></app-food-list>
  </div>
</div>
