<div class="outer-container">
  <div class="head">
    <div class="header">Today's Menu</div>
    <div class="underline"></div>
  </div>
  <div class="food-type">
    <button
      (click)="changeType('all')"
      [ngClass]="selectType == 'all' ? 'highlight' : ''"
      class="item"
    >
      All
    </button>
    <button
      (click)="changeType('lunch')"
      [ngClass]="selectType == 'lunch' ? 'highlight' : ''"
      class="item"
    >
      Lunch
    </button>
    <button
      (click)="changeType('breakfast')"
      [ngClass]="selectType == 'breakfast' ? 'highlight' : ''"
      class="item"
    >
      Breakfast
    </button>
    <button
      (click)="changeType('dinner')"
      [ngClass]="selectType == 'dinner' ? 'highlight' : ''"
      class="item"
    >
      Dinner
    </button>
    <button
      (click)="changeType('coffee')"
      [ngClass]="selectType == 'coffee' ? 'highlight' : ''"
      class="item"
    >
      Coffee
    </button>
    <button
      (click)="changeType('snacks')"
      [ngClass]="selectType == 'snacks' ? 'highlight' : ''"
      class="item"
    >
      Snacks
    </button>
  </div>
  <div class="food-container">
    <app-food-list></app-food-list>
  </div>
</div>
