.underline {
  background: url("../../../assets/underline.png");
  height: 40px;
  width: 200px;
  background-repeat: no-repeat;
}

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.header {
  color: #ca3d26;
  display: inline-block;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  letter-spacing: 2px;
  line-height: 0.8;
  margin: 0;
  padding: 0 20px 0px;
  position: relative;
  text-transform: capitalize;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  padding-top: 50px;
}

.food-type {
  display: flex;
  width: 550px;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.item {
  border: 1px solid;
  color: #1e1e1f;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 2px;
  padding: 3px 10px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

.item:hover {
  color: white;
  background-color: #ca3d26;
  border: 1px solid #ca3d26;
}

.food-container {
  padding-top: 40px;
}
