.outer-container {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #f9f9f9;
  gap: 4px;
}

.flipped {
  transform: scaleX(-1);
}

.rectangle {
  font-size: larger;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 150px;
  background-color: aqua;
}

.left-chairs,
.right-chairs {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
