.outer-container {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #f9f9f9;
  gap: 4px;
}

.flipped {
  transform: scaleX(-1);
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 125px;
  background-color: aqua;
  font-size: larger;
  font-weight: 700;
}

.disable {
  color: black;
  cursor: not-allowed;
}
