.outer-container {
  height: 83vh;
}

.date-picker {
  display: flex;
}

.date-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.date-scroller {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.next-date {
  width: 50px;
  margin: 0 50px 0 0;
  cursor: pointer;
  border: none;
  background-color: white;
}

.go-right,
.go-left {
  border: none;
  background-color: white;
  cursor: pointer;
}

.go-left {
  margin-right: 50px;
}
