.image-container {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background: url("../assets/slide_1.jpg");
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../assets/pattarn.png");
  opacity: 0.5;
  background-repeat: repeat;
  z-index: -1;
}

.reduce-header {
  height: 15%;
  background-color: white;
  color: black;
}
