<div class="outer-container">
  <div class="image-outer">
    <img class="image" [src]="foodItem.image" />
    <div class="to-cart">
      @if (quantity==0) {
      <button class="but" (click)="changeQuantity('add')">Add to Cart</button>
      }@else {
      <div class="small-but-container">
        <button class="small-but" (click)="changeQuantity('remove')">
          <mat-icon>remove</mat-icon>
        </button>
        <span class="quant">
          {{ quantity }}
        </span>
        <button class="small-but" (click)="changeQuantity('add')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      }
    </div>
  </div>
  <div class="details">
    <div class="head">
      <div class="name">{{ foodItem.name }}</div>
      <div class="price">&#8377; {{ foodItem.price }}</div>
    </div>
    <div class="ingredients">
      @for (ingredient of foodItem.ingredients; track $index) {
      <li>{{ ingredient }}</li>
      }
    </div>
  </div>
</div>
