.outer-container {
  height: 170px;
  width: 450px;
  border-bottom: 1px solid #e4e4e4;
  margin: 15px;
  display: flex;
}

.image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  box-shadow: 0 0 0 10px #ddd;
}

.to-cart {
  padding-top: 10px;
  padding-left: 5px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
}

.details {
  margin-left: 50px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.name {
  padding-bottom: 7px;
  font-size: 20px;
}

.head {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.price {
  color: #ca3d26;
  font-weight: 600;
  padding-right: 50px;
}

.but {
  padding: 10px;
  width: 95px;
  color: #ca3d26;
  border: 2px solid #ca3d26;
  border-radius: 10px;
  font-weight: 500;
}

.but:hover {
  padding: 10px;
  color: white;
  background-color: #ca3d26;
  border: none;
}

.ingredients {
  display: grid;
  grid-template-columns: auto auto;
}

.small-but {
  border: none;
  background-color: #ca3d26;
  color: white;
  cursor: pointer;
  size: 20px;
}

.small-but-container {
  background-color: #ca3d26;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border: 1px solid #ca3d26;
  border-radius: 10px;
  height: 34px;
  font-weight: 500;
}
