<div class="container stick">
  <div class="logo-container">
    <div class="logo"></div>
  </div>
  <div class="pages">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="item"
      [ngClass]="currentTab == 'home' ? 'highlight' : ''"
      (click)="changeCurrentTab('home')"
    >
      HOME
    </a>
    <a
      routerLink="/menu"
      routerLinkActive="active"
      class="item"
      [ngClass]="currentTab == 'menu' ? 'highlight' : ''"
      (click)="changeCurrentTab('menu')"
    >
      MENU
    </a>
    <a
      routerLink="/about-us"
      routerLinkActive="active"
      class="item"
      [ngClass]="currentTab == 'about' ? 'highlight' : ''"
      (click)="changeCurrentTab('about')"
    >
      ABOUT US
    </a>
    <a
      routerLink="/team"
      routerLinkActive="active"
      class="item"
      [ngClass]="currentTab == 'team' ? 'highlight' : ''"
      (click)="changeCurrentTab('team')"
    >
      TEAM
    </a>
    <a
      routerLink="/cart"
      routerLinkActive="active"
      class="item"
      [ngClass]="currentTab == 'cart' ? 'highlight' : ''"
      (click)="changeCurrentTab('cart')"
    >
      <mat-icon>shopping_cart</mat-icon>
    </a>
  </div>
</div>
