.container {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
  justify-content: space-around;
  padding-top: 5px;
  background-color: black;
}

.pages {
  display: flex;
  padding-right: 200px;
  justify-content: space-around;
  width: 80%;
  height: 100%;
}

.logo {
  background: url("../../../../assets/logo3-modified.png");
  height: 100px;
  width: 120px;
  background-size: contain;
}

.logo-container {
  width: 50%;
  padding-left: 200px;
}

.item {
  cursor: pointer;
  height: 100%;
  color: white;
}

.highlight {
  color: #ca3d26;
  border-top: 2px solid #ca3d26;
}

a {
  text-decoration: none;
}
