.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  justify-content: center;
  position: relative;
  z-index: 0;
  width: 99vw;
  height: 87vh;
}

.outer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../../../assets/home/pattarn.png");
  opacity: 0.5;
  background-repeat: repeat;
  z-index: -1;
}

.first-line,
.second-line,
.but {
  font-size: 70px;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #ffffff;
}

.first-line {
  font-family: "Dancing Script", cursive;
}

.second-line {
  font-size: 50px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
}

.but {
  border: 1px solid white;
  background-color: inherit;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin-top: -25px;
  padding: 10px 30px;
  letter-spacing: 3px;
}

.but:hover {
  background-color: #ca3d26;
  cursor: pointer;
}

#left-button,
#right-button {
  position: absolute;
  color: rgb(185, 180, 180);
  background-color: inherit;
  border: none;
}

#left-button {
  left: 60px;
}

#right-button {
  right: 60px;
}

button ::ng-deep .mat-icon.mat-icon-no-color {
  font-size: 40px;
}

#left-button:hover,
#right-button:hover {
  color: white;
  cursor: pointer;
}
