<div class="outer-container">
  <div class="header">Sign Up</div>
  <div class="form">
    <div class="username">
      <div class="text-name">Username</div>
      <input type="text" class="input-text" placeholder="UserName" />
    </div>
    <div class="email">
      <div class="text-name">Email</div>
      <input type="text" class="input-text" placeholder="Email" />
    </div>
    <div class="password">
      <div class="text-name">Password</div>
      <input type="text" class="input-text" placeholder="Password" />
    </div>
    <div class="confirm-password">
      <div class="text-name">Confirm Password</div>
      <input type="text" class="input-text" placeholder="Password" />
    </div>
  </div>
  <button class="login">Sign Up</button>
  <div class="text">
    Already a User?
    <a (click)="toggleLogin()" class="login-toggle">Login Now!</a>
  </div>
</div>
