.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px 0 200px; /* 5px top/bottom, 30px left/right */
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-weight: 500;
  flex-wrap: wrap;
  background-color: black;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 5px;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.contact-item mat-icon,
.icon mat-icon {
  font-size: 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login {
  background: #ca3d26 none repeat scroll 0 0;
  color: #fff;
  border: 1px solid #ca3d26;
  padding: 0 10px; /* horizontal only */
  height: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  font-weight: 400;
}

.login:hover {
  background-color: white;
  color: #ca3d26;
}

::ng-deep .mat-icon.mat-icon-no-color {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
