<div class="contact-container">
  <div class="left-container">
    <div class="contact-item">
      <mat-icon>email</mat-icon>
      <span>{{ email }}</span>
    </div>
    <div class="contact-item">
      <mat-icon>phone</mat-icon>
      <span>{{ telephone }}</span>
    </div>
  </div>

  <div class="right-container">
    <div class="social-icons">
      <div class="icon" id="facebook"><mat-icon>facebook</mat-icon></div>
      <div class="icon" id="instagram"><mat-icon>photo_camera</mat-icon></div>
      <div class="icon" id="public"><mat-icon>public</mat-icon></div>
    </div>
    <button class="book-table">BOOK A TABLE</button>
  </div>
</div>
