body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.7em;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-background {
  backdrop-filter: blur(4px);
  background-color: rgb(226, 238, 243, 0.23);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 10px;
}
