<button class="outer-container">
  <div class="top-chairs">
    <app-chair class="bottom-face"></app-chair>
    <app-chair class="bottom-face"></app-chair>
    <app-chair class="bottom-face"></app-chair>
    <app-chair class="bottom-face"></app-chair>
  </div>
  <div class="rectangle">{{ tableNo }}</div>
  <div class="bottom-chairs">
    <app-chair class="top-face"></app-chair>
    <app-chair class="top-face"></app-chair>
    <app-chair class="top-face"></app-chair>
    <app-chair class="top-face"></app-chair>
  </div>
</button>
